<%= form_with(model: quiz, local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :topic %>
    <%= form.text_field :topic, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if quiz.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', quiz, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if quiz.persisted? %>
      <%= link_to "Cancel", quiz, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", quizzes_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
