<div class="page-title mb-5 mt-2">
    <h1>Welcome to HackTools Quiz Challenge!</h1>
    <p class="lead">This project is made by Gabriel Schiavo,<br> feel free to use this quizzes and answears platform as your needs.</p>
</div>

<div class="content">
    <% if @questions.present? %>
        <% @questions.each do |question| %>
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <label>Quiz title: <strong><%= QuizzesHelper::quiz_name(question.quiz_id) %></strong> | Topic: <strong><%= QuizzesHelper::quiz_topic(question.quiz_id) %></strong></label>
                </div>
                <div class="card-body bg-secondary text-light">
                    <blockquote class="blockquote mb-0">
                        <p><%= question.title %></p>
                    </blockquote>
                    <div>
                        <%if current_user %>
                            <% unless current_user.id.equal?(question.user_id) %>
                                <%= link_to new_question_answear_path(question.id), class: "btn btn-md btn-success mr-3" do %>
                                    Answear It!
                                <% end %>
                            <% end %>
                        <% end %>
                        <%= link_to question_path(question.id), class: "btn btn-md btn-warning" do %>
                            See Answears
                        <% end %>
                    </div>
                    <div class="p-3 text-right">
                        <footer class="blockquote-footer text-white flex-end">Asked by: <cite title="Source Title"><%=  UsersHelper::user_name(question.user_id) %></cite></footer>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Asked <%= Timezone.date_threshold(question.created_at) %> ago</small>
                </div>
            </div>
        <% end %>
    <% end %>
</div>