<div class="row">
  <div class="col-sm-6">
    <h1>Answears in your Topics:</h1>
  </div>
  <% if @question.present? %>
    <div class="col-sm-6 text-right">
        <div class="text-muted text-right">
            <span>Total questions Answeared by others: <%= QuestionsHelper::count(@answears) %></span>
        </div>
        <%#= link_to new_answear_path, class: 'btn btn-primary' do %>
        <!-- Add New Answear -->
        <%# end %>
  </div>
  <% else %>
    <div class="col-sm-6 text-right">
        <div class="text-muted text-right">
            <span>Answeared by others: 0</span>
        </div>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <% if @answears.present? %>  
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>My Questions</th>
          <th>Others Answears</th>
          <th>Lat</th>
          <th>Lng</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <% if @answears.present? %>
          <% @answears.each do |answear| %>
            <%= content_tag :tr, id: dom_id(answear), class: dom_class(answear) do %>
              

                          <td><%= answear.question.title %></td>
                          <td><%= answear.description %></td>
                          <td><%= answear.lat %></td>
                          <td><%= answear.lng %></td>
              
              
                <td><%= link_to 'Show', answear %></td>
              
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="container text-center mt-5">
      <h4>Anyone answeared you yet 🤓</h4>
    </div>
  <% end %>
</div>
